/* navbar.css */
*,*::before, *::after{
    box-sizing: border-box;
    font-family: 'Product Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'Product Sans';
    src: url('fonts/ProductSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.text{
    font-family: 'Product Sans', sans-serif;
}

body{
    background-color: #F5F7FA;
}
.nav-bar {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F7FA;
}

.logo {
    object-fit: contain;
    object-position: center;
    width: 90px;
    z-index: 0;
    margin-left: 10px;
    align-self: center;
}

.brand-logo {
    width: 180px;
    height: auto;
    align-self: center;
    object-fit: contain;
    margin-left: 5px;
    margin-right: auto;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 0.9em;
    justify-content: space-between;
    font: 400 0.7em, 'Poppins', sans-serif;
}

.signup-btn {
    border-radius: 12px;
    background: #009688;
    gap: 10px;
    color: #f5f5f5;
    white-space: nowrap;
    text-align: center;
    margin: auto 0;
    margin-right: 20px;
    padding: 12px 34px;
    border: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px 68px; /* Proper spacing between links */
    padding: 0;
    margin: 0;
    min-width: 240px;
}

.profile-link {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.profile-image {
    aspect-ratio: 1 / 1;
    margin-left: auto;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #009688;
    cursor: pointer;
    object-fit: cover;
}







main{
    display: flex;
    gap:80px;
    padding-bottom: 50px;

}

.side-bar{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 30px;
    list-style: none;
    border-right: solid 1px #E6EFF5;
    height: 100%;
    padding-top: 50px;

}

.side-bar-element {
    display: flex; 
    gap: 25px;
}

.side-bar-element-picture{
    object-fit: contain;
    max-width: 25px;
}

.side-bar-element-text{
    align-self: center;
    text-decoration: none;
    color:#7F7F7F;
    padding-top: 2px;
}

#banned-users{
    align-self: flex-start;
}

abbr{
    text-decoration: none;
}



.main-heading{
    font-weight: lighter;
    text-transform: uppercase;
    color: #7F7F7F;
    font-size: 30px;
}


.dashboard{
    display: flex;
    width: 75%;
    flex-direction: column;
    gap: 50px;
    
    margin-top: 55px;
}

.main-stats{
    display: flex;
    gap: 40px;
}


.main-stat-item{
    background-color: white;
    padding: 20px 60px 20px 40px;
    display: flex;
    gap: 20px;
    border-radius: 20px;
    width: 340px;
}

.main-stats-image-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #DCFAF8;
}


.main-stats-image{
    width: 60%;
    height: 60%;
}


.img2{
    background-color: #FFE0EB;
}

.img3{
    background-color: #FFF5D9;
}

.main-stat-item-text-section{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.main-stat-item-text-section-maintext{
    font-size: 14px;
    color: #718EBF;
}

.main-stat-item-text-section-number{
    font-weight: bold;
    
}

.activities-and-categories{
    display: flex;
    gap: 95px;
}




.activities-and-categories-section-header{
    color: #343C6A;
}
.weekly-activity-section{
    width: 67%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.event-categories-section{
    display: flex;
    flex-direction: column;
    gap:10px;
    height: 246px;
    width: auto;
}

.chart2{
    height: inherit;
}

.dashboard-bottom-section{
    display: flex;
    gap: 50px;
}
.additional-statistics-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.additional-statistics-section-header{
    font-weight: lighter;
    font-size: 22px;
    color: #333B69;
}
.additional-statistics-item{
    padding: 10px 15px 10px 15px;
    background-color: white;
    align-items: center;
    display: flex;
    gap: 25px;
    width: 550px;
    border-radius: 15px;
}

.add-stats-image-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    background-color: #FFE0EB;
}

.item2{
    background-color: #E7EDFF;
}

.item3{
    background-color: #FFF5D9;
}

.add-stats-image{
    width: 70%;
    height: 70%;
}

.add-stats-main-text{
    min-width: 210px;
}

.add-stats-item-col{
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 60px;
    margin-left: 10px;
}

.add-stats-value{
    align-self: center;
}

.add-stats-secondary-text{
    align-self: center;
    font-size: 14px;
    color: #718EBF;
}

.plus{
    color:#16DBAA;
}

.minus{
    color:#FE5C73;
}

.user-activity-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30%;
}

.user-activity-pic{
    object-fit: contain;
    width: 500px;
    margin-top: 15px;
}

.user-activity-section-header{
    font-weight: lighter;
    font-size: 22px;
    color: #333B69;
}


/* footer.css */

.footer {
    background: #333;
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.footer a {
    color: #f5f5f5;
        text-decoration: none; 
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.footer-logo-img {
    aspect-ratio: 1;
    object-fit: contain;
    width: 70px;
}

.footer-brand-logo {
    width: 160px;
    height: auto;
    object-fit: contain;
}

.footer-nav {
    display: flex;
    align-items: center;
    color: #f5f5f5;
    justify-content: center;
}

.footer-links {
    list-style: none;
    display: flex;
    min-width: 240px;
    color: #f5f5f5;
    align-items: center;
    gap: 40px 68px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer-divider {
    background-color: #f5f7fa;
    align-self: stretch;
    margin-top: 15px;
    width: 90%;
    height: 1px;
}

.footer-bottom {
    display: flex;
    margin-top: 23px;
    width: 100%;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-evenly;
}

.language-selector {
    display: flex;
    gap: 10px;
    color: #f5f5f5;
    font-size: 0.875em;
    margin-left: 60px;
}

.language-option {
    color: #f5f5f5;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.language-option:hover {
    background-color: #009688;
}

.language-option.active {
    font-weight: bold;
    background-color: #009688;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    width: 100%;
}

.social-icon {
    object-fit: contain;
    align-self: center;
    margin: auto 0;
}

.copyright {
    color: #f5f7fa;
    text-align: right;
    font-size: 0.875em;
    margin-right: 60px;
}