
.account-center {
    background: var(--background-color);
    padding: 20px;
    align-self: center;
}

/* Header styling */
.account-header {
    margin: 30px 0;
    text-align: center;
}

.account-header h1 {
    font-size: 1.4em;
    color: var(--text-color);
    margin-bottom: -14px;
}

.account-header .subheader {
    color: #777;
    font-size: 1em;
}

/* Account options styling */
.account-options {
    margin-bottom: 30px;
}
.account-options .option {
    margin: auto 80px;
    padding: 8px 0;
}

.icon-title {
    display: flex;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.text h2 {
    font-size: 1.2em;
    margin: 0;
    color: var(--text-color);
}

.text p {
    font-size: 0.9em;
    color: var(--gray-text-color);
    margin: 5px 0 0;
}

.option > hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}

/* Delete account styling */
.option.delete h2 {
    color: #d9534f;
}

.option.delete p {
    color: #a94442;
}

