/* styles.css */

.blocked-container {
	background-color: var(--background-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.blocked-message {
	background-color: var(--background-color);
	border: 1px solid #f0c0c0;
	padding: 30px;
	border-radius: 10px;
	text-align: center;
	width: 400px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blocked-message h1 {
	color: #d9534f;
	font-size: 24px;
	margin-bottom: 20px;
}

.blocked-message p {
	color: #555;
	font-size: 16px;
	margin-bottom: 30px;
}

.home-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: var(--primary-color);
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 16px;
}

.home-button:hover {
	background-color: #31b0d5;
}
