/* Events History Page */
.events-history {
    background: #f5f7fa;
    padding: 30px 50px;
}

/* Page Header */
.page-header {
    text-align: center;
}

.page-header .page-title {
    font-size: 1.1em;
    color: #333;
    margin: 0;
}

.page-header .page-subtitle {
    font-size: 0.9em;
    color: #777;
    margin-top: 1.4%;
}

/* Events Section */
.events-section {
    width: 100%;
    margin-top: 5px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.section-title {
    color: #000;
    font-size: 1.7em;
    font-weight: bold;
}

.section-title .highlight {
    color: #009688;
}

/* Events Grid */
.events-container {
    margin-top: 10px;
}

.events-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* Event Cards */
.event-card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    width: 76%;
    height: 86%;
}

.event-image {
    aspect-ratio: 1.45;
    object-fit: cover;
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.event-title {
    color: #000;
    font-size: 1.0em;
    font-weight: 400;
}

.event-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-info {
    display: flex;
    flex-direction: column;
    font-size: 0.75em;
}

.event-date {
    color: #009688;
}

.event-location {
    color: #7f7f7f;
    margin-top: 4px;
}

.event-attendance {
    display: flex;
    align-items: center;
    font-size: 0.75em;
    color: #7f7f7f;

}

.attendance-icon {
    width: 24px;
    margin-right: 8px;
}

/* Load More Button */
.load-more-btn {
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #009688;
    color: white;
    cursor: pointer;
    font-size: 1em;
}