<!-- Footer -->
<footer class="footer">
    <div class="footer-logo">
        <img src="../../public/assets/images/logo.png" alt="Planet There Logo" class="footer-logo-img">
        <img src="../../public/assets/images/footer-logo.svg" alt="Brand Logo" class="footer-brand-logo">
    </div>
    
    <nav class="footer-nav">
        <ul class="footer-links">
            <li><a href="#" class="nav-link">Home</a></li>
            <li><a href="#" class="nav-link">Events</a></li>
            <li><a href="#" class="nav-link">People</a></li>
            <li><a href="#" class="nav-link">Create an Event</a></li>
            <li><a href="#" class="nav-link">About us</a></li>
        </ul>
    </nav>
    <hr class="footer-divider">
    <div class="footer-bottom">
        <div class="language-selector">
            <a href="#" class="language-option active">English</a>
            <a href="#" class="language-option">French</a>
        </div>
        <div class="social-icons">
            <a href="#" aria-label="Linkedin">
                <img src="../../public/assets/images/linkedin-icon.svg" alt="Linkedin" class="social-icon">
            </a>
            <a href="#" aria-label="Instagram">
                <img src="../../public/assets/images/instagram-logo.svg" alt="Instagram" class="social-icon">
            </a>
            <a href="#" aria-label="Facebook">
                <img src="../../public/assets/images/facebook-icon.svg" alt="Facebook" class="social-icon">
            </a>
        </div>
        <p class="copyright">Non Copyrighted © 2024 by Digital Dreamers</p>
    </div>
</footer>
