<!-- Navbar -->
<header class="nav-bar">
    <img src="../../public/assets/images/logo.png" alt="Planet There Logo" class="logo">
    <img src="../../public/assets/images/logo-text.svg" alt="Brand Logo" class="brand-logo">
    <nav class="nav-menu">
        <ul class="nav-links">
            <li><a href="#" class="nav-link">Home</a></li>
            <li><a href="#" class="nav-link">Events</a></li>
            <li><a href="#" class="nav-link">People</a></li>
            <li><a href="#" class="nav-link">Become a Manager</a></li>
            <li><a href="#" class="nav-link">About us</a></li>
        </ul>
        <!-- Profile Picture as a clickable link -->
        <a href="#" class="profile-link">
            <img src="../../public/assets/images/profile-image.jpg" alt="Profile" class="profile-image">
        </a>
    </nav>
</header>
