<!-- Navbar logged out -->
<header class="nav-bar">
    <a href="index.html">
        <img src="../../public/assets/images/logo.png" alt="Planet There Logo" class="logo">
    </a>
    
    <a href="index.html" class="brand-logo">
        <img src="../../public/assets/images/logo-text.svg" alt="Brand Logo">
    </a>

    <nav class="nav-menu">
        <ul class="nav-links">
            <li><a href="index.html" class="nav-link">Home</a></li>
            <li><a href="#" class="nav-link">Events</a></li>
            <li><a href="#" class="nav-link">People</a></li>
            <li><a href="#" class="nav-link">Create an Event</a></li>
            <li><a href="about-us.html" class="nav-link">About us</a></li>
            <li><a href="#" class="nav-link">Login</a></li>
        </ul>
        <button class="signup-btn">Sign Up</button>
    </nav>
</header>