

@font-face {
    font-family: 'Product Sans';
    src: url('fonts/ProductSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.sidebar{
    margin-top: 50px;
    background-color: rgb(245, 247, 250);
    max-width: 261px;
    padding: 10px 5px 15px 10px;
    border-right: 2px #E6EFF5 solid;
}

*,*::before, *::after{
    box-sizing: border-box;
    font-family: 'Product Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

.sidebar-pic{
    width: 34px;
    height: 32px;
}

.sidebar-link{
   text-decoration: none;
   font-size: 20px;
   padding-top: 7px;
   color: #7F7F7F;
}

.sidebar-element{
   display: flex;
   max-width: 242px;
   gap:28px;
}


.sidebar-elements-list{
    display: flex;
    flex-direction: column;
    gap: 58px;

}


.Events-proposition-list{
    margin-top: 150px;
    margin-left: 355px;
    padding-right: 35px;
    max-width: 1407px;
    display: grid;
    grid-template-columns: 196px 188px 139px 135px 166px 1fr;
    
}

.event-field{
    padding-top:30px;
     padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 14px;
}

.event-unit{
    margin-top: 300px;
    margin-left: 500px;
    
}

.break-line{
    border: 1px black solid;
    grid-column: 1/7;
}
.event-title{
    grid-column: 1/2;
}

.event-description{
    grid-column: 2/3;
}

.event-manager{
    
    grid-column: 3/4;
}

.event-max-attendance{
    grid-column: 4/5;
    text-align: center;
}

.event-date{
    grid-column: 5/6;
    text-align: center;
}

.event-buttons{
    grid-column: 6/7;
    display: flex;
    justify-content: space-around;
}

.event-button{
    width: 129px;
    height: 53px;
    border-radius: 30px;
    border-style: solid;
   text-transform: uppercase;
   font-weight: bold;
   font-size:14px;
   color: #32BCD8;
   border-color: #32BCD8;
}